/target
/Cargo.lock
/binaries/*
/gen/
# Tauri icon generator outputs not used by the current desktop-only bundle.
/icons/android/
/icons/ios/
/icons/64x64.png
/icons/Square*Logo.png
/icons/StoreLogo.png
